
.typer {
    display: inline-block;
  	overflow:hidden;
    letter-spacing: 2px;
    position: relative;
    left:300px;
    top:-240px;
 	animation: typing 2s steps(30,end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 700;
    border-right: 4px solid aliceblue;
    box-sizing: border-box;
    color:white;
    
}

@keyframes typing {
    from { 
        width: 0ch; 
    }
    to { 
        width: 30ch; 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: aliceblue; 
    }
}